<%- include("partials/header"); -%>



<div class="main">
  <div class="CTA">
    <div class="">
      <a href="/update/<%=postId%>"><button class="btn btn-default" type="button" name="button">Edit</button></a>
    </div>

    <form class="" action="/mypost/<%=postId%> " method="POST">
    <button class="btn btn-danger" type="submit" name="button">Delete</button>
    </form>
  </div>
  <div class="post-body">
    <h1><%= title %></h1>
    <p><%=content%></p>
    <p class="invisible">
      <%=postId%>
    </p>
  </div>
</div>

<%- include("partials/footer"); -%>
