<%- include("partials/header"); -%>
<h1>Your posts</h1>
<%  posts.forEach(function(post){ %>

<h3><%=post.title%></h3>
<p ><%=post.content.substring(0, 200) + " ..."%></p>
  <a href="/mypost/<%=post._id%>">Read More</a> <br>
  <p class="post-date"><%=post.created %></p>

<% }) %>
<%- include("partials/footer"); -%>
